button {
  display: none;
}

a {
  display: none;
}

.a {
  display: inline;
  color: black;
  text-decoration: none;
}

.container-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-2 {
  width: 100%;
  height: 100%;
}

.holder {
  display: flex;
  width: 100%;
}

.container-3 {
  margin-left: 60px;
  width: 60%;
  overflow: scroll;
  height: 505px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.button {
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(5, 110, 84);
  color: white;
  height: 30px;
  margin-top: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.posts-info {
  overflow: hidden;
  height: 20px;
}

.info h3 {
  font-size: 15px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
}

.userInfo {
  width: 20%;
}

.container-4 {
  background-color: white;
  margin-top: -5px;
}

.images-displaying img {
  width: 400px;
}

.posts-image img {
  width: 80%;
  max-height: 250px;
}

.rounded-circle img {
  width: 50px;
}

.message-box {
  background-color: aliceblue;
  width: 400px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.display-card-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.display-title {
  text-transform: capitalize;
}

.display-location {
  font-size: 15px;
  text-transform: capitalize;
}

.display-location:hover {
  color: rgb(10, 233, 203);
  cursor: pointer;
}

.display-card-holder {
  background-color: rgb(205, 247, 229);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
}
.display-card-border button {
  position: relative;
  left: 35%;
  margin-top: 20px;
}

.description-displaying {
  margin-top: 5px;
  padding-top: 10px;
}

.add-comment {
  display: flex;
  justify-content: center;
  align-content: center;
}
.search-results {
  cursor: pointer;
}
.a {
  cursor: pointer;
  margin-top: 10px;
}
.mb-3 {
  text-transform: capitalize;
}
.profile-image {
  display: flex;
  justify-content: center;
}
.button-container {
  display: flex;
  justify-content: center;
}
.primary-button {
  width: 40%;
}
